<section class="jumbotron">
    <div class='text'>
        <h4>Original</h4>
        <h5><%= @card.original_text %></h5>
    </div>
    <div class='text'>
        <h4>Translated</h4>
        <h5><%= @card.translated_text %></h5>    
    </div>
</section>